{% extends 'base.html' %}
{% block title %}Random episode{% endblock %}

{% block content %}
<h1>Your random episode of {{ show.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>{{ episode.name }}</h2>
            <p><strong>Season {{ episode.seasonNumber }}, episode {{ episode.number }}</strong> (S{{ episode.seasonNumber|stringformat:"02d" }}E{{ episode.number|stringformat:"02d" }})</p>
            <p><em>{{ episode.overview }}</em></p>
        </div>
        <div class="col-sm-4 align-self-end">
            <img class="img-fluid img-thumbnail" src="{{ episode.image }}">
        </div>
    </div>
</div>
<p><a class="btn btn-primary" href="" role="button">Get another episode</a></p>
<p><a class="btn btn-secondary" href="{% url 'home' %}" role="button">Search for another show</a></p>
{% endblock %}