{% extends 'base.html' %}
{% block title %}Random episode{% endblock %}

{% block content %}
<h1>Your random episode of {% if eng_name|stringformat:"s" != "None" %}{{ eng_name }}{% else %}{{ show.name }}{% endif %}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>{% if eng_episode_deets|stringformat:"s" != "None" %}{{ eng_episode_deets.name }}{% else %}{{ episode.name }}{% endif %}</h2>
            <p><strong>Season {{ episode.seasonNumber }}, episode {{ episode.number }}</strong> (S{{ episode.seasonNumber|stringformat:"02d" }}E{{ episode.number|stringformat:"02d" }})</p>
            {% if episode.overview|stringformat:"s" != "None" %}
                <p><em>{% if eng_episode_deets|stringformat:"s" != "None" %}{{ eng_episode_deets.overview }}{% else %}{{ episode.overview }}{% endif %}</em></p>
            {% else %}
                <p><em>No episode description available.</em></p>
            {% endif %}
        </div>
        <div class="col-sm-4 align-self-end">
            {% if episode.image|stringformat:"s" != "None" %}
                <img class="img-fluid img-thumbnail mb-3" src="{{ episode.image }}">
            {% endif %}
        </div>
    </div>
    <p>
        Not sure where to watch? Try JustWatch:
    </p>
    <p><a class="btn btn-outline-warning" target="_blank" href="https://www.justwatch.com/uk/search?q={{ show.name }}"><img class="img-fluid" alt="JustWatch" src="https://widget.justwatch.com/assets/JW_logo_black_10px.svg" height="11px" width="70px"></a></p>
</div>
<p><a class="btn btn-primary mt-2" href="" role="button">Get another episode</a></p>
<p><a class="btn btn-secondary" href="{% url 'home' %}" role="button">Search for another show</a></p>
{% endblock %}